doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Set Duration

		// Bootstrap Core CSS
		link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
		// Custom CSS
		link(href="stylesheets/layout.css", rel="stylesheet")
		// Custom Fonts
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
		link(href="stylesheets/slider.css", rel="stylesheet")

	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						i.fa.fa-bars
					a.navbar-brand(href="/") Fitness Journey
				
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						// Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a(href="#page-top")
						li
							a.page-scroll(href="/") Start Journey
						li
							a.page-scroll(href="/timeline") Timeline
						li
							a.page-scroll(href="/entry") New Entry

		h3.text-center Set Your Duraton
		.large-container
			h2 How long will it take to achieve your goal?
			.container.small-container
				p

					h3 100 Days
				p
					div#ex1(data-slider-id='ex1Slider', type='text', data-slider-min='0', data-slider-max='200', data-slider-step='1', data-slider-value='100')
				p
					br
					br
					a.btn.btn-lg.btn-success(href="/timeline") Start Your Journey!
		


		footer
			.container.text-center
				
		// jQuery
		script(src="javascripts/jquery.js")
		// Bootstrap Core JavaScript
		script(src="javascripts/bootstrap.min.js")
		// Plugin JavaScript
		script(src="javascripts/jquery.easing.min.js")
		script(src="javascripts/bootstrap-slider.js")
		script(src="javascripts/layout.js")
