doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Feed

		// Bootstrap Core CSS
		link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
		// Custom CSS
		link(href="stylesheets/layout.css", rel="stylesheet")
		// Custom Fonts
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						i.fa.fa-bars
					a.navbar-brand(href="/") Fitness Journey
				
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						// Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a(href="#page-top")
						li
							a.page-scroll(href="/news") News Feed
						li
							a.page-scroll(href="/feed") Browse
						li
							a.page-scroll(href="/timeline") My Timeline
						li
							a.page-scroll(href="/entry") New Entry

		
		.large-container
			h3 Lose Weight/Fat

		.container
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/Jack.png")
				.text-container.col-xs-6
					p "Lose 20 lbs in 365 days."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/Nick.png")
				.text-container.col-xs-6
					p "Lose my love handles in 150 days."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/Stacy.png")
				.text-container.col-xs-6
					p "Lose 5 lbs before sister's wedding in 30 days"
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/1.png")
				.text-container.col-xs-6
					p "Lose 20 lbs in 365 days."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/2.png")
				.text-container.col-xs-6
					p "Lose my love handles in 150 days."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/3.png")
				.text-container.col-xs-6
					p "Lose 5 lbs before sister's wedding in 30 days"
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/4.png")
				.text-container.col-xs-6
					p "Lose my love handles in 150 days."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/5.png")
				.text-container.col-xs-6
					p "Lose 5 lbs before sister's wedding in 30 days"


		footer
			.container.text-center
				
		// jQuery
		script(src="javascripts/jquery.js")
		// Bootstrap Core JavaScript
		script(src="javascripts/bootstrap.min.js")
		// Plugin JavaScript
		script(src="javascripts/jquery.easing.min.js")			