doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title Jack

		// Bootstrap Core CSS
		link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
		// Custom CSS
		link(href="stylesheets/layout.css", rel="stylesheet")
		// Custom Fonts
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
	
	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						i.fa.fa-bars
					a.navbar-brand.page-scroll(href="/")
						| Fitness Journey
				
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						// Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a(href="#page-top")
						li
							a.page-scroll(href="/") Start Journey
						li
							a.page-scroll(href="/timeline") Timeline
						li
							a.page-scroll(href="/entry") New Entry

		.container.small-container
			img.profile-photo(src="images/Jack.png")
			h2.text-center Jack
			h4.text-center.gray Get rid of my love-handles and pudgy belly-fat.
		.container
			.row.photo
				.photo-container
					img(src="images/jack-before.png")
			.row.log-entry
				.col-xs-6
					.positive
						p Started, 40 mins of cardio today
				.col-xs-6

			.row.log-entry
				.col-xs-6
					.positive
						p Dropped Calories intake down to 2000
				.col-xs-6

			.row.log-entry
				.col-xs-6
				.col-xs-6
					.negative
						p Feeling really sluggish and low energy

			.row.log-entry
				.col-xs-6
				.col-xs-6
					.negative
						p No energy, workout was super difficult

			.row.log-entry
				.col-xs-6
					.positive
						p Started feeling more use to the diet. Workout is not as bad today
				.col-xs-6
			.row.log-entry
				.col-xs-6
					.positive
						p Lost 5 pounds so far
				.col-xs-6
			.row.photo
				.photo-container
					img(src="images/jack-after.png")

		.container.small-container
			h3 Day 121 of 300
		
		
		footer
			.container.text-center
				
		// jQuery
		script(src="javascripts/jquery.js")
		// Bootstrap Core JavaScript
		script(src="javascripts/bootstrap.min.js")
		// Plugin JavaScript
		script(src="javascripts/jquery.easing.min.js")