doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title Eric

		// Bootstrap Core CSS
		link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
		// Custom CSS
		link(href="stylesheets/layout.css", rel="stylesheet")
		// Custom Fonts
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
	
	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						i.fa.fa-bars
					a.navbar-brand.page-scroll(href="/")
						| Fitness Journey
				
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						// Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a(href="#page-top")
						li
							a.page-scroll(href="/news") News Feed
						li
							a.page-scroll(href="/feed") Browse
						li
							a.page-scroll(href="/timeline") My Timeline
						li
							a.page-scroll(href="/entry") New Entry

		.container.small-container
			.btn.btn-black.fa.fa-plus
			&nbsp;
			img.profile-photo(src="images/2.png")
			&nbsp;
			.btn.btn-black.fa.fa-envelope-o  
			h3.text-center Eric
			h4.text-center.gray Lose 20 lbs over 200 days
		.container
			.row.photo
				.photo-container
					img(src="images/nick-before.png")
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					img(src="images/nick-after.png")
			h4.text-center.gray Day 54 of 150
			hr
			.row.log-entry
				.col-xs-5
					.negative
						p Negative Progress log....
				.col-xs-1
					.icon.blue
						.fa.fa-thumbs-o-down
			hr
			.row.log-entry
				.col-xs-5
				.col-xs-1
					.icon.red
						.fa.fa-thumbs-o-up
				.col-xs-5
					.negative
						p Positive Progress log....
			hr
			.row.photo
				.photo-container
					img(src="images/nick-after.png")
			h5.text-center.gray Day 52
			hr
			.row.log-entry
				.col-xs-5
					.negative
						p Negative Progress log....
				.col-xs-1
					.icon.blue
						.fa.fa-thumbs-o-down
			hr
			.row.log-entry
				.col-xs-5
					.negative
						p Negative Progress log....
				.col-xs-1
					.icon.blue
						.fa.fa-thumbs-o-down
			hr
			.row.photo
				.photo-container
					img(src="images/nick-before.png")
			h5.text-center.gray Day 20
			hr
			.row.log-entry
				.col-xs-5
				.col-xs-1
					.icon.red
						.fa.fa-thumbs-o-up
				.col-xs-5
					.negative
						p Positive Progress log....
			hr
			.row.log-entry
				.col-xs-5
				.col-xs-1
					.icon.red
						.fa.fa-thumbs-o-up
				.col-xs-5
					.negative
						p Positive Progress log....
			hr
			.row.photo
				.photo-container
					img(src="images/nick-before.png")

			h5.text-center.gray Day 1

		footer
			.container.text-center
				
		// jQuery
		script(src="javascripts/jquery.js")
		// Bootstrap Core JavaScript
		script(src="javascripts/bootstrap.min.js")
		// Plugin JavaScript
		script(src="javascripts/jquery.easing.min.js")