doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Feed

		// Bootstrap Core CSS
		link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
		// Custom CSS
		link(href="stylesheets/layout.css", rel="stylesheet")
		// Custom Fonts
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						i.fa.fa-bars
					a.navbar-brand(href="/") Fitness Journey
				
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						// Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a(href="#page-top")
						li
							a.page-scroll(href="/feed") Feed
						li
							a.page-scroll(href="/timeline") My Timeline
						li
							a.page-scroll(href="/entry") New Entry

		h2.text-center.green It's Ok!!
		.large-container
			h3.text-center 37 other people share the same setback



		.container.small-container
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/jack")
						img(src="images/Jack.png")
				.text-container.col-xs-6
					p Day 10 of 62 | “Feel like crap today..."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/nick")
						img(src="images/Nick.png")
				.text-container.col-xs-6
					p Day 13 of 100 | “I had the worst workout ever..."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/stacy")
						img(src="images/Stacy.png")
				.text-container.col-xs-6
					p Day 2 of 30 | “Didn't get enough sleep last night..."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/stacy")
						img(src="images/Stacy.png")
				.text-container.col-xs-6
					p Day 21 of 100 | “I just ate a whole cheese cake at midnight..."
		.large-container
			a.btn.btn-lg.btn-success(href="/timeline") Back to My Timeline >>

		footer
			.container.text-center
				
		// jQuery
		script(src="javascripts/jquery.js")
		// Bootstrap Core JavaScript
		script(src="javascripts/bootstrap.min.js")
		// Plugin JavaScript
		script(src="javascripts/jquery.easing.min.js")			