doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title Stacy

		// Bootstrap Core CSS
		link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
		// Custom CSS
		link(href="stylesheets/layout.css", rel="stylesheet")
		// Custom Fonts
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
	
	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						i.fa.fa-bars
					a.navbar-brand.page-scroll(href="/")
						| Fitness Journey
				
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						// Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a(href="#page-top")
						li
							a.page-scroll(href="/") Start Journey
						li
							a.page-scroll(href="/timeline") Timeline
						li
							a.page-scroll(href="/entry") New Entry

		.container.small-container
			img.profile-photo(src="images/Stacy.png")
			h2.text-center Stacy
			h4.text-center.gray Battle anorexia. Eating more healthily.
		.container
			.row.photo
				.photo-container
					img(src="images/stacy-before.png")
			.row.log-entry
				.col-xs-6
					.positive
						p Made a diet plan for myself. Determine to stay on it. Currently 97 lbs
				.col-xs-6

			.row.log-entry
				.col-xs-6
				.col-xs-6
					.negative
						p Felt really guilty for eating more... Is this diet plan really going to work?

			.row.log-entry
				.col-xs-6
					.positive
						p I feel more energetic in my morning classes. Must be the breakfast.! I should keep getting my breakfast in.
				.col-xs-6

			.row.log-entry
				.col-xs-6
				.col-xs-6
					.negative
						p Lower body is so sore, I didn't go to the gym today

			.row.log-entry
				.col-xs-6
					.positive
						p Slept late last night, didn't wake up for breakfast... Slumpy day.
				.col-xs-6

			.row.log-entry
				.col-xs-6
					.positive
						p I am gaining weight =) 100 lbs.
				.col-xs-6
			.row.photo
				.photo-container
					img(src="images/stacy-after.png")

		.container.small-container
			h3 Day 54 of 150
		
		
		footer
			.container.text-center
				
		// jQuery
		script(src="javascripts/jquery.js")
		// Bootstrap Core JavaScript
		script(src="javascripts/bootstrap.min.js")
		// Plugin JavaScript
		script(src="javascripts/jquery.easing.min.js")