doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title Timeline

		// Bootstrap Core CSS
		link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
		// Custom CSS
		link(href="stylesheets/layout.css", rel="stylesheet")
		// Custom Fonts
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
		link(href="font-awesome/css/boostrap-switch.min.css", rel="stylesheet", type="text/css")

	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						i.fa.fa-bars
					a.navbar-brand.page-scroll(href="/")
						| Fitness Journey
				
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						// Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a(href="#page-top")
						li
							a.page-scroll(href="/feed") Feed
						li
							a.page-scroll(href="/timeline") My Timeline
						li
							a.page-scroll(href="/entry") New Entry

		.container
			h2.text-center Your Fitness Journey
			h3.text-center.gray Lose 10 pounds

			.row.photo
				.photo-container
					img(src="images/before.png")
			.row.log-entry
				.col-xs-6
					.positive
						p Ran 2 miles today
				.col-xs-6

			.row.log-entry
				.col-xs-6
				.col-xs-6
					.negative
						p Didn't go to the gym today, Slept too late last night

		.container.small-container
			h3 Day 2 of 100
		.large-container
			a.btn.btn-lg.btn-success(href="/entry") Add to Journey >>
		
		footer
			.container.text-center
				
		// jQuery
		script(src="javascripts/jquery.js")
		// Bootstrap Core JavaScript
		script(src="javascripts/bootstrap.min.js")
		// Plugin JavaScript
		script(src="javascripts/jquery.easing.min.js")
		script(src="javascripts/boostrap-switch.min.js")
		script(src="javascripts/layout.js")