doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Welcome

		// Bootstrap Core CSS
		link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
		// Custom CSS
		link(href="stylesheets/layout.css", rel="stylesheet")
		// Custom Fonts
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
	
	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						i.fa.fa-bars
					a.navbar-brand(href="/") Fitness Journey
				
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						// Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a(href="#page-top")
						li
							a.page-scroll(href="/") Start Journey
						li
							a.page-scroll(href="/timeline") Timeline
						li
							a.page-scroll(href="/entry") New Entry

		
		h3.text-center Welcome!

		.large-container
			h2 What's Your Goal?
			.container.small-container
				.form-group
					textarea.form-control(rows="2", id="goal", placeholder="Lose 10 pounds")
				a.btn.btn-lg.btn-success(href="/duration") Next >>


		.container.small-container
			h4 Need Suggestions? See what other people are pursuing...
			.suggestion-item
				.photo-container
					a(href="/jack")
						img(src="images/Jack.png")
				.text-container
					p "Lose belly fat."
			.suggestion-item
				.photo-container
					a(href="/nick")
						img(src="images/Nick.png")
				.text-container
					p "Build some muscle"
			.suggestion-item
				.photo-container
					a(href="/stacy")
						img(src="images/Stacy.png")
				.text-container
					p "Eat healthier."
			.suggestion-item
				a(href="/")
					h4 Browse All


		footer
			.container.text-center
				
		// jQuery
		script(src="javascripts/jquery.js")
		// Bootstrap Core JavaScript
		script(src="javascripts/bootstrap.min.js")
		// Plugin JavaScript
		script(src="javascripts/jquery.easing.min.js")
