doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Welcome

		// Bootstrap Core CSS
		link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
		// Custom CSS
		link(href="stylesheets/layout.css", rel="stylesheet")
		// Custom Fonts
		link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
	body
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						i.fa.fa-bars
					a.navbar-brand(href="/") Fitness Journey
				
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						// Hidden li included to remove active class from about link when scrolled up past about section
						li.hidden
							a(href="#page-top")
						li
							a.page-scroll(href="/news") News Feed
						li
							a.page-scroll(href="/feed") Browse
						li
							a.page-scroll(href="/timeline") My Timeline
						li
							a.page-scroll(href="/entry") New Entry

		
		

		.large-container
			h4 Welcome!
			h3 What's Your Goal?
			.container.small-container
				.form-group
					select#goal.form-control
						option(value="/") Lose Weight/Fat
						option(value="/welcome2" selected) Gain Muscle
						option(value="/welcome3") Eat Healthier
				a.btn.btn-inverse(href="/duration") Next >>


		.container.small-container
			h5 These people share your goal, check out their journeys!
		.container
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/1.png")
				.text-container.col-xs-6
					p "Gain 10lbs of mass over 100 days."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/2.png")
				.text-container.col-xs-6
					p "Gain definition on my abs for 30 days."
			.row.suggestion-item
				.photo-container.col-xs-4
					a(href="/other")
						img(src="images/3.png")
				.text-container.col-xs-6
					p "Bulk up my shoulder in 50 days."
			.row.text-center
				a(href="/feed")
					h4 Browse More


		footer
			.container.text-center
				
		// jQuery
		script(src="javascripts/jquery.js")
		// Bootstrap Core JavaScript
		script(src="javascripts/bootstrap.min.js")
		// Plugin JavaScript
		script(src="javascripts/jquery.easing.min.js")
		script.
			$("#goal").change(function() {
				location.href = $("#goal").val()
			})
			