body {
	background-image:url(../images/bg.png);
}

.navbar {
	color:white;
}

.photo {
	text-align: center;
}

.small-container {
	text-align: center;
	padding:5px;
	width:80%;
}

.large-container {
	text-align:center;
	background-color: #D3D3D3;
	padding:10px;
}

.btn-success {
	color:black;
	font-weight:bold;
}

.suggestion-item {
	display:block;
	clear:left;
	padding:5px;
}

.suggestion-item .photo-container {
	width:70px;
	height:70px;
	overflow:hidden;
	float:left;
	width:30%;
	background-color:#66CDAA;
}

.suggestion-item .photo-container img {
	border-radius: 150px;
	border:1px solid white;
}

.suggestion-item .text-container {
	float:left;
	padding-top:25px;
	padding-bottom:15px;
	width:70%;
	background-color:#66CDAA;

}

#ex1Slider .slider-selection {
	background: green;
}

.photo-container {
	margin:0 auto;
	width:200px;
	height:200px;
	overflow:hidden;
}

.photo img {
	width:100%;
	border:10px solid gray;
}

.log-entry {
	margin:10px 0;
	font-weight:bold;
}

.positive {
	text-align:right;
	background-color: #66CDAA;
	padding:5px;
	
}

.negative {
	text-align:left;
	background-color: #D3D3D3;
	padding:5px;
}

.btn-space {
	margin:0 20px;
}

.gray {
	color:gray;
}

.profile-photo {
	border-radius: 150px;
	border:10px solid silver;
}